
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}

body{
	background: linear-gradient(45deg, rgb(255, 255, 255), rgb(230, 230, 230));
	color: black;
	margin: 0;
}


.dark-mode {
	background: linear-gradient(45deg, rgb(46, 46, 46), rgb(56, 56, 56));
	color: white;
}

.dark-mode a {
	color: white;
}

.light-mode{
	cursor: pointer;
}

header{
	margin-bottom: 70px;
	z-index: 1000;
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	background: hsla(0,0%,100%,.3);
	box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.357);
	display: flex;
	justify-content: space-around;
	align-items: center;
    -webkit-backdrop-filter: blur(33px);
	backdrop-filter: blur(33px);
}

header nav{
	display: flex;
	gap: 2rem;
}

header nav a{
	font-size: 1.2rem;
	text-decoration: none;
	transition: color 100ms;
	display: flex;
	gap: 0.5rem;
	color: black;
}

header nav a:hover{
	color: rgb(205, 205, 205);
}

.index-hero{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

h1{
	margin: 0;
	font-size: 6rem;
}

h2{
	margin: 0;
	font-size: 2rem;
}

p{
	margin: 0;
	font-size: 1.2rem;
}

.index-hero img{
	width: 600px;
	height: 600px;
	object-fit: cover;
	border-radius: 10%;
}

.about-hero{
	width: 100%;
	padding: 100px 0;
	background-position: 100px;
	background-size: cover;
	border-bottom: solid rgb(140, 140, 140) 1px;
	border-top: solid rgb(140, 140, 140) 1px;
	background: hsla(0, 0%, 100%, 0.124);
	box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.357);
}

.col{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	gap: 5rem;
}

.col img{
	height: 300px;
	width: 300px;
	object-fit: cover;
	border-radius: 10%;
}

.gallery-hero{
	margin: 150px 0 50px 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.gallery-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	padding: 0 100px;
}

.gallery-section img{
	margin: 0;
	border-radius: 2%;
	width: 400px;
	height: 400px;
	object-fit: cover;
	padding: 5px;
	background: hsla(0,0%,100%,.3);
	box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.357);
	border-radius: 2%;
	border: solid rgb(140, 140, 140) 1px;
}



